body {

    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(53, 66, 74);
    border-bottom: 5px solid rgb(169, 80, 139);
   
    
}

#nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;


}

#nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#nav ul li a {
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}
#nav ul li a:hover {
    font-weight: bold;    
}



.container_navbar {

    max-width: 80%;
    margin: 0 auto;
}

.Clarusway_txt {
   
   height: 120%;
   display:table;  
   float:left;
   font-size: 20px;

   
  
}

.Clarusway_txt h1 {
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    vertical-align: middle;

}


.First_Section {
    padding: 15%;
    background-image: url("./images/showcase.jpg");
    
    
    
}

.First_Section h1{
    font-size: 54px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.First_Section p{
    font-size: 20px;
    color: blueviolet;
    text-align: center;

}

.professional_txt {
    position: absolute;
    top: 23%;
    left: 15%;
}

.subscribe {
    position: absolute;
    top: 65%;
    left: 0px;
    background-color: rgb(53, 66, 74);
    width: 100%;
    height: 100px;
}


.subscribe {
    position: absolute;
    top: 13.8%;
    height: 13%;
}

.middle {
    width: 1350px;    
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.subs_text {
    
   height: 100%;
   display:absolute;  
   float:left;
   padding-left: 55px;
   color: white;
   font-weight: bolder;
   
  

}

.subs_text p {
    font-size: 26px;
    
}


.right_subs {
    margin-top: 25px;

    
}

#submit{
    display: inline-block;
    float: right;
    height: 100%;
    margin-left: 3px;
    background-color:  rgb(169, 80, 139) ;
    color: white;
    border:none
    

} 
#subscribe {
    display: inline-block;
    float: right;
    height: 100%;
    vertical-align: middle;
    

} 



.cw_logo img {
    width: 180px;
    
    
    
}

.cw_logo {
    border-top: 5px solid rgb(169, 80, 139);
    text-align: center;
    margin-bottom: 20px;


}

.middle_page3 {

    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 50px 20px -40px 80px;
    
}

.box1, .box2, .box3 {

    
    background-color: #F4F4F4;
    border: 1px solid #ebe5e5;
    padding: 30px 20px 20px 20px;
    height: 180px;

}

.box1, .box2, .box3 h2 {

    font-size: 16px;
    
}

.middle_page3 h1 {
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: -27px;
    box-sizing: border-box;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif ;
}

aside {
    position: absolute;
    top: 30%;
    left: 70%;
    right: 20;
}

aside {
    background-color: rgb(53, 66, 74);
    width: 20%;
    height: 40%;
    padding: 30px;

}

.continer_form input[type=text], input[type=email], textarea {
    width: 100%;
    height: 2.5em;
    padding: 0px 3px;
    
}

label {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.continer_form input[type=submit] {
    box-sizing: border-box;
    background-color: rgb(169, 80, 139);
    color: white;
    width: 35%;
    height: 3em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
     
}

.continer_form h2 {
    color: white;
}


footer {
    margin-top: 7%;
}


@media only screen and (max-width: 600px) {

    #nav {
        
        flex-direction: column;
       
        
    }   

    .Clarusway_txt h1{
        box-sizing: border-box;
       font-size: 25px;
       margin-bottom: 40px;       
       height: 60px;
       padding-bottom: 30px;
       
    }


    .container_navbar {
        max-width: 100%;
        margin-left: -25px;
        margin-top: 10px;
        
    }

    
    #nav ul li a {
        padding: 1.25rem;
        font-size: 1rem;
        margin-left: -25px;
        
    }

    .middle {
        max-width: 100%;
        max-height: 50%;
        padding: -10px 0px;
        margin-left: -15px;
            
    }
    .subs_text p {
        font-size: 17px;
        
        
    }

    
   
    #subscribe , #submit {
        flex: 0 0 33.33333%;
        max-width: 65%;
        
        
        

        

    }

    

    .middle_page3 {

      display: flex;
      width: 80%;
      height: 100%;
      margin-left: 20px;
      text-align: center;
        
    }


    
    
    aside {

        position: absolute;
        top: 150%;
        left: 10%;
        width: 120%;
        width: 60%;
        
        
    }

    footer {
    
        position: absolute;
        top: 200%;
        left: 10%;
        border: none;
    }
        
    
    
}

